#producto-container{
    margin-top: 150px;
}

.react-bs-table-sizePerPage-dropdown .dropdown-toggle {
    float: left;
    margin-bottom: 20px;

}
.search-Label {
    float: right;
    padding-bottom: 10px;
}
.sr-only{
    font-size: 0;
}

#productos-crear-container,
#producto-buscar-container {
    margin-top: 50px;
    margin-left: 4rem;
    width: 90%;
}

#productos-crear-container .form-label{
    float: left;
    margin-bottom: 10px;

}

.active>.page-link, .page-link.active {
    color: white !important;
    background-color:#6c757d !important;
    border-color:#565e64 !important;
}

.nav-tabs{
    width: 91.6%;
    margin-left: 3.2rem;
}